{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block header %}
<style></style>
{% endblock %}

{% block content %}

<h3 id="heading">Hello And Welcome to this Movie Archive Website!!!</h3>


<form style="display: none">
    <label id="inputs">
        {{ comment_start }}
        <input type="search" placeholder="Search for Movies" style="width: 800px" name="search" data-inline="true">
        <input type="submit" value="search_submit" data-inline="true">
        {{ comment_end }}
    </label>
</form>
    <form id="myForm" action="#" method="post">
    <button id="add" name="add" title="click to add a movie">Add A Movie</button>
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" id="buttons">Add Movie</button><br> -->
    <label for="myInput"></label>
    <input type="text" id="myInput" onkeyup="myFunction()"
           placeholder="Search for movies by name, director or status">
    <button id="add" name="del" title="click to add a movie">Delete A Movie</button>
    </form>

{{ comment_start }}
<table id="myTable">
    <tr>
        <th>Name</th>
        <th>Director</th>
        <th>Language</th>
        <th>Status</th>
    </tr>
    {% for i in data %}
        <tr>
            <td>{{i["name"]}}</td>
            <td>{{i["director"]}}</td>
            <td>{{i["lang"]}}</td>
            <td>{{i["status"]}}</td>
        </tr>
    {% endfor %}
</table>
    {{ comment_start }}
{{ msg }}
{% endblock %}